# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/cloud-config-client/cloud-config-client.iml
/cloud-config-client/target/
/cloud-config-server/target/
/cloud-config-server/cloud-config-server.iml
/spring-cloud.iml
/cloud-eureka-client/cloud-eureka-client.iml
/cloud-eureka-server/cloud-eureka-server.iml
/cloud-eureka-client/target/
/cloud-ribbon/cloud-ribbon.iml
/cloud-ribbon/target/
/cloud-feign/target/
/cloud-feign/cloud-feign.iml
/cloud-zuul/cloud-zuul.iml
/cloud-zuul/target/
